<main>
    <section>
        <h1>Ici on ajoute</h1>
        <form action="/admin/add" method="post"  enctype="multipart/form-data">

            <label for="title"> title </label>
            <input type="text" name="title" id="title"> <br />

            <label for="description"> description </label>
            <input type="text" name="description" id="description"> <br />

            <label for="seller"> seller </label>
            <input type="text" name="seller" id="seller"> <br />

            <label for="price"> price </label>
            <input type="text" name="price" id="price"> <br />

            <label for="category"> category </label>
            <input type="text" name="category" id="category"> <br />

            <label for="myFile"> myFile </label>
            <input type="file" name="myFile" multiple="multiple">

            <input type="submit" value="Valider">
        </form>
    </section>
</main>

