<main>
    <section>
        <h1>Page d'administration</h1>
        <p>Votre choix : </p>

        <a href="/admin/display/">Voir les Produits</a>
        <a href="/admin/addProduct/">Ajouter Un Produit </a>
        
    </section>
</main>