<main>
    <section>
        <h1>Formulaire d'authentification</h1>
        <form action="auth" method="POST">
            <label for="alias"> Votre alias </label>
            <input type="text" name="alias" id="alias">
            <input type="submit" value="Valider">
        </form>
    </section>
</main>