
<header>
    <nav>
        
           <a href="/">home</a>
            <a href="/shop">shop</a>
            <a href="/log">authentification</a>
        
    </nav>
    <p class="date"> Aujourd'hui nous sommes le <%= today%>  </p>
</header>