<header>
    <nav>
        <a href="/">home</a>
        <a href="/shop">shop</a>
        <!-- <a href="/detail">detail</a> -->
        <a href="/auth">authentification</a>
        
    </nav>
</header>