<main>
    <h1>En ce moment :</h1>

    <article class="card">
        <h3>
            <%= data.title %>
        </h3>
        
        <p><%= data.description %></p>
        <p>En vente chez <%= data.seller %> au prix exeptionnel de <%= data.price %> euros !!</p>
        
    </article>

</main>