<main>
    <section>
        <h1>Formulaire d'authentification</h1>
        <form action="log" method="post">
            <label for="alias"> Votre alias </label>
            <input type="text" name="alias" id="alias"> <br/>
            <input type="submit" value="Valider"> 
        </form>
    </section>
</main>

        